{% extends "base.html" %}

{% block content %}

    <h1 style="text-align:center; color:white; font-family: 'Balsamiq Sans', cursive;">Welcome to Orlando's Game Site</h1>
    <h1>
        <nav style="background-color:black; font-size: 28px; font-family: 'Balsamiq Sans', cursive;" class="uk-navbar-container uk-margin;" uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a style="color: white;" href="/">Home</a></li>
                    <li>
                        <a style="color: white;" href="#">Games</a>
                        <div style="color: white;" class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/TicTacToe">TicTacToe</a></li>
                                <li><a href="/SnakeGame">Snake Game</a></li>
                                <li><a href="/BrickBreakerGame">Brick Breaker Game</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                    <a style="color: white; font-family: 'Montserrat', sans-serif;" href="#">Tutorials</a>
                        
                    <div style="color: white; font-family: 'Montserrat', sans-serif;" class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/TicTacToeTutorial">Tic Tac Toe Tutorial</a></li>
                            <li><a href="/SnakeTutorial">Snake Tutorial</a></li>
                            <li><a href="/BrickBreakerTutorial">Brick Breaker Tutorial</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a style="color: white; font-family: 'Montserrat', sans-serif;" href="#">Leaderboards</a>
                        
                    <div style="color: white; font-family: 'Montserrat', sans-serif;" class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/TicTacToeLeaderboard">Tic Tac Toe Leaderboard</a></li>
                            <li><a href="/SnakeLeaderboard">Snake Leaderboard</a></li>
                            <li><a href="/BrickBreakerLeaderboard">Brick Breaker Leaderboard</a></li>
                        </ul>
                    </div>
                </li>
                    <li><a style="color: white;" href="/AboutWebsite">About Website</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li ><a style="color: white; font-family: 'Montserrat', sans-serif;">Hello, {{ name }}</a></li>
                    <li><a style="color: white; font-family: 'Montserrat', sans-serif;" href="/LogOut">Log Out</a></li>
                    {% else %}
                    <li><a style="color: white; font-family: 'Montserrat', sans-serif;" href="/SignUp">Sign Up</a></li>
                    <li><a style="color: white; font-family: 'Montserrat', sans-serif;" href="/LogIn">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </h1>
    <h1 style='text-align:center; color:white;'>Hello {{ name }}</h1>
    <h3 style='text-align:center; color:white;'>My website contains 3 very fun games.</h3>
    <h3 style='text-align:center; color:white;'>Have fun and enjoy your stay.</h3>
    
    

{% endblock %}